<div class="container text-center">
  <h1>Revenge of the Idea</h1>
  <div class="idea_form">
    <%= text_field_tag(:title, nil, placeholder: "Title")  %> <br><br>
    <%= text_area_tag(:body, nil, placeholder: "Body")  %> <br><br>
    <button id="create_idea" class="btn btn-danger">saveworthy</button>
  </div>

  <div class="ideas">
    
  </div>
</div>
